<div class="container my-5" style="max-width: 720px">
    <h4 class="fw-bold mb-3 text-center">🐯 YOU TUBE 영상 모음</h4>

    <div class="row g-4">
        {% for v in videos %}
        <div class="col-12">
            {% if v.title %}
            <div class="fw-semibold mb-2">{{ v.title }}</div>
            {% endif %}

            <div class="ratio ratio-16x9 rounded-4 overflow-hidden shadow" style="max-width:560px; margin:auto;">
                <iframe
                    src="https://www.youtube.com/embed/{{ v.video_id }}"
                    title="{{ v.title|default:'YouTube video' }}"
                    allow="encrypted-media; picture-in-picture"
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
        {% empty %}
        <div class="text-center text-muted py-5">등록된 영상이 없습니다.</div>
        {% endfor %}
    </div>
    <div class="container my-5">
    <h4 class="fw-bold mb-3 text-center">🐯 YOU TUBE 영상 모음</h4>

    <div class="rounded-4 overflow-hidden shadow" style="max-width:560px; margin:auto;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K4V17jmlGXc?si=nW0rVbWFxc7ayxht" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>