body {
    font-family: "Pretendard", sans-serif;
    background-color: #f5f5f7;
    padding: 20px;
}

.widget-card {
    background: white;
    border-radius: 18px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    text-align: center;
}
.table-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    margin-top: 20px;
}

.table-responsive {
    max-height: 70vh; /* 세로 스크롤 제한 */
    overflow-y: auto;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 10; /* 헤더 고정 */
    background-color: #f8f9fa !important; /* 배경색 지정 필수 */
}

/* 모달 인풋 스타일 */
#modal-rows-body input {
    border: none;
    background: transparent;
    text-align: center;
    width: 100%;
    outline: none;
}
#modal-rows-body input:focus {
    background-color: #e8f0fe;
    font-weight: bold;
}