.modal {
    z-index: 1060 !important;
}

.modal-backdrop {
    z-index: 1050 !important;
}

.modal-content {
    position: relative;
    z-index: 1070;
    background-color: #fff;
}

.session-card {
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.session-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.page-content {
    z-index: auto;
}

.btn {
    padding: 0.25rem 0.75rem;
}