<nav
    class="navbar navbar-expand-lg navbar-dark bg-dark py-3 mb-4 shadow-sm fixed-top w-100"
>
    <div
        class="app-content container d-flex justify-content-between align-items-center"
    >
        <a
            class="navbar-brand d-flex align-items-center gap-2 fw-bold fs-4"
            href="{% url 'index' %}"
        >
            <i class="bi bi-airplane-engines-fill text-warning"></i>
            <span>Manning System</span>
        </a>
        <div class="d-flex align-items-center gap-2">
            {% if request.session.user_role == "admin" %}
            <a
                href="/admin/"
                class="btn btn-outline-danger btn-sm rounded-3 shadow-sm fw-bold"
            >
                <i class="bi bi-shield-lock me-1"></i> 관리자 모드(rev.2)
            </a>
            {% endif %} 
            {% if active_count|default:"" != "" %} 
            {% if active_count > 0 %}
            <span
                class="badge bg-success bg-opacity-10 text-success px-3 py-2 rounded-pill fw-bold border border-success border-opacity-10"
            >
                <span
                    class="spinner-grow spinner-grow-sm me-1"
                    role="status"
                    aria-hidden="true"
                ></span>
                가동 중
            </span>
            {% else %}
            <span
                class="badge bg-secondary bg-opacity-10 text-secondary px-3 py-2 rounded-pill border border-secondary border-opacity-10"
            >
                대기 중
            </span>
            {% endif %} 
            {% endif %}

            <div class="text-light small me-2">
                근무지: {{ request.session.workplace_label}}
            </div>

            <form
                method="post"
                action="{% url 'change_workplace' %}"
                class="d-flex align-items-center gap-1"
            >
                {% csrf_token %}
                <input
                    type="hidden"
                    name="next"
                    value="{{ request.get_full_path }}"
                />
                {% if request.session.user_role == "admin" %}
                <select
                    name="workplace"
                    class="form-select form-select-sm bg-light text-dark"
                >
                    <option
                        value="GMP-1"
                        {% if request.session.workplace == "GMP-1" %}selected{% endif %}
                    >
                        GMP-1
                    </option>
                    <option
                        value="GMP-2"
                        {% if request.session.workplace == "GMP-2" %}selected{% endif %}
                    >
                        GMP-2
                    </option>
                    <option
                        value="GMP-3"
                        {% if request.session.workplace == "GMP-3" %}selected{% endif %}
                    >
                        GMP-3
                    </option>
                    <option
                        value="ICN-1"
                        {% if request.session.workplace == "ICN-1" %}selected{% endif %}
                    >
                        ICN-1
                    </option>
                    <option
                        value="ICN-2"
                        {% if request.session.workplace == "ICN-2" %}selected{% endif %}
                    >
                        ICN-2
                    </option>
                    <option
                        value="ICN-3"
                        {% if request.session.workplace == "ICN-3" %}selected{% endif %}
                    >
                        ICN-3
                    </option>
                </select>
                <button
                    type="submit"
                    class="btn btn-outline-danger rounded-3 btn-sm px-3 text-nowrap"
                >
                    변경
                </button>
                {% endif %}
            </form>

            {% block nav_return %}
            <a
                href="{% url 'logout' %}"
                class="btn btn-outline-danger btn-sm px-3 rounded-3"
            >
                <i class="bi bi-box-arrow-right me-1"></i> 로그아웃
            </a>
            {% endblock nav_return %}
        </div>
    </div>
</nav>
