{% extends "manning/navbar/navbar_base.html" %} 

{% block nav_return %}
<a
    href="{% url 'paste_data' %}"
    class="btn btn-outline-secondary btn-sm text-light border-secondary"
>
    <i class="bi bi-clock-history"></i>
    <span class="d-none d-md-inline">데이터 등록</span>
</a>
<a
    href="{% url 'index' %}"
    class="btn btn-outline-secondary btn-sm text-light border-secondary"
>
    <i class="bi bi-arrow-left"></i>
    <span class="d-none d-md-inline">이전 화면으로</span>
</a>
{% endblock nav_return %}
